<% include ./partials/header %>
  <h1>Answers</h1>
    <% ans.forEach(answer => { %>
      <p><%= answer.answer %><i class="fas fa-check-circle guessed" style="margin-left: 10vw;"></i></p>
    <% }) %>
  <h1 id="guessed-answers">Guessed</h1>
  <div class="score-div">
    <h1>Scores</h1>
    <form action="/submit" method="GET">
      <div class="form-group">

        <% players.forEach(player => { %>
          <div class="row">
            <div class="col-sm-2">
              <label for="score" class="col-form-label player-name"><%= player.name %></label>
            </div>
            <div class="col-sm-4">
              <input type="text" name="score" data-pname="<%= player.name %>" value="<%= player.score %>" class="form-control scores">
              <input type="text" name="playerName" style="display: none;" value="<%= player.name %>" class="names">
            </div>
          </div>
          <% }) %>
      </div>
      <button type="submit" class="btn btn-info">New Round</a>
    </form>
  </div>
  <a href="/reset" style="margin-top: 10vh; display: inline-block;">End Game</a>
  <script src="js/answers.js"></script>
  <% include ./partials/footer %>